
.timer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 360px;
    margin-left: 156px;
    margin-right: auto;
}

.main-title {
    margin-bottom: 20px;
}

.input-container {
    display: flex;
    gap: 8px;
}

input {
    width: 272px;
    height: 39px;
    border-radius: 4px;
    background-color: #fff;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #2e2f42; 
    padding-left: 16px;
    border: 1px solid #808080;
}

input:focus {
    border: #4E75FF;
}

input:hover {
    border: #2E2F42;
}

input:disabled {
    border: #000;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

button {
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    width: 75px;
    height: 43px;
    background-color: #4e75ff;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #fff;
}

button:disabled {
    background-color: #cfcfcf;
    color: #989898;
}

button:hover {
    color: #fff;
    background-color: #6c8cff;
}   

.timer {
    display: flex;
    justify-content: center;
}

.field {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 15px;
    padding: 10px;
}

.value {
    font-weight: 400;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.label {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #2e2f42;
}

.iziToast {
  position: fixed !important;
  z-index: 9999 !important;
}